spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/libraryapp
    username: library
    password: library
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  sql:
    init:
      mode: never

server:
  port: 8080

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace

googlebooks:
  base-url: https://www.googleapis.com
